boby{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;

}
.container{
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba (0,0,0,0.1);
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
input{
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
}
button{
  padding: 8px;
  margin: 5px;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}

.add-btn{
  background-color: #007bff;
  color: #ccc;
}
.delete-btn{
  background-color: #dc3545;
  color: #ccc;
}
.edit-btn{
  background-color: #28a745;
  color: #ccc;
}

.user-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: local;
  padding: 10px;
  border-radius: 5px;
  margin: top 10px;
}